{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],

  "plugins": [
    "react-hot-loader/babel",
    [ "@babel/syntax-decorators", { "legacy": true } ],
    "@babel/transform-regenerator"
  ]
}
