{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "plugins": [
    "react-hooks",
    "flowtype"
  ],
  "rules": {
    "max-len": ["warn", { "code": 150 }],
    "space-before-function-paren": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": "off",
    "global-require": "off",
    "semi": "warn",
    "semi-style": "off",
    "react/prop-types": "off",
    "no-shadow": 0,
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off",
    "jsx-quotes": ["warn", "prefer-single"],
    "object-curly-newline": "off",
    "react/jsx-curly-spacing": ["warn", {
      "when": "always",
      "allowMultiline": true
    }],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "arrow-body-style": "off",
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "no-unused-vars": ["off", { "args": "all" }],
    "react-hooks/rules-of-hooks": "error",
    "flowtype/define-flow-type": 1
  }
}
