{
  "extends": "airbnb",
//  "extends": [
//    "plugin:react/recommended",
//    "plugin:@typescript-eslint/recommended"
//  ],
//  "parser": "babel-eslint",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "plugins": [
    "import",
    "react-hooks"
//    "@typescript-eslint"
//    "flowtype"
  ],
  "settings": {
    "import/extensions": ["js", ".jsx", "ts", "tsx"],
    "import/parser": {
      "typescript-eslint-parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "eslint-import-resolver-typescript": true,
      "node": {
        "extensions": ["js", ".jsx", "ts", "tsx"]
      }
    },
//    "import/resolver": {
////      "node": true,
//      "babel-module": {},
////      "eslint-import-resolver-typescript": true
//      "typescript": {}
//    },
    "react":  {
      "version":  "detect",
    }
  },
  "rules": {
    "max-len": ["warn", { "code": 150 }],
    "space-before-function-paren": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "linebreak-style": "off",
    "global-require": "off",
    "arrow-parens": "off",
    "padded-blocks": "off",
    "semi": "warn",
    "semi-style": "off",
    "react/prop-types": "off",
    "no-shadow": 0,
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off",
    "jsx-quotes": ["warn", "prefer-single"],
    "object-curly-newline": "off",
    "react/jsx-curly-spacing": ["warn", {
      "when": "always",
      "allowMultiline": true
    }],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "arrow-body-style": "off",
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "no-unused-vars": ["off", { "args": "all" }],
    "react-hooks/rules-of-hooks": "error",
//    "flowtype/define-flow-type": 1
//    "typescript/generic-type-naming": 1,
  }
}
