@import '../../../assets/scss/variables.scss';

.button {
  font-size: 14px;
  white-space: pre;
  padding: 14px 20px;
  border: 1px solid $color-button-border;
  background-color: $color-button-background;
  border-radius: 4px;
  padding: 4px 8px;
  &:hover {
    background-color: lighten($color-button-background, 10%);
    cursor: pointer;
  }
}
