@import '../../../assets/scss/variables.scss';

.button-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // padding: 10px 15px;
  margin-bottom: 15px;
  &--right {
    justify-content: flex-end;
  }
}
