@import '../../assets/scss/variables.scss';

.edit {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: stretch;

  &__left {
    width: 75%;
    flex-grow: 4;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  &__right {
    width: 25%;
    flex-grow: 2;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    border-left: 1px solid $color-panel-delimiter;

  }

  &__top {
    height: 80%;
  }

  &__bottom {
    height: 20%;
    border-top: 1px solid $color-panel-delimiter;
  }

}