@import '../../../assets/scss/variables.scss';

.dropdown {
  display: block;
  background-color: $color-popup-background;
  border: 1px solid $color-popup-border;
  font-size: $size-text;

  &__option {
    padding: 3px 8px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0,0,0,0.05);
    }
  }
}
