$color-text-black: #262828;
$color-panel-delimiter:  #3aeb1c;
$color-button-border:  #3aeb1c;
$color-button-background: #99bbcc;
$color-border-tab: #16b5d1;
$color-background: #f3f3f3;
$color-arrow: #a8a8a8;

@mixin background-image($img, $img-size, $full-size) {
  background-image: url('~images/#{$img}');
  background-repeat: no-repeat;
  background-position: center;
  background-size:  $img-size  $img-size;
  height: $full-size;
  width: $full-size;
}
